In [3]:
import pandas as pd

data = pd.read_csv("final_table_florida.csv")
county_info = pd.read_excel("county_info.xlsx")

In [4]:
# Merge in county info# Add in county information for all LEAIDs
cols = ["LEAID", "NMCNTY"]
county_info = county_info[cols]
county_info['LEAID'] = pd.to_numeric(county_info['LEAID'], errors='coerce')

# Get the most common county for each school district
county_info = county_info.groupby('LEAID')['NMCNTY'].agg(lambda x: x.mode().iloc[0])

county_merged = pd.merge(data, county_info, on='LEAID', how='left')
county_merged

,Unnamed: 0,LEA_STATE_NAME,LEAID,LEA_NAME,banned_books,LEA_ENR,SCH_FTETEACH_TOT,SATACT_P,APENR_P,P_EXPULSIONS,TOT_DIS_HB,TOT_RAC_HB,TOT_SEX_HB,NMCNTY
0,0,FLORIDA,1200002,FL VIRTUAL,False,6748,0.008595,7.898637,5.853586,0.000000,NaN,NaN,NaN,Orange County
1,1,FLORIDA,1200030,ALACHUA,False,29737,0.057114,7.694118,8.037125,0.016814,NaN,NaN,NaN,Alachua County
2,2,FLORIDA,1200060,BAKER,False,5044,0.058541,8.068993,0.733545,0.693894,NaN,NaN,NaN,Baker County
3,3,FLORIDA,1200090,BAY,False,28073,0.061955,7.020981,7.929327,0.295658,NaN,NaN,NaN,Bay County
4,4,FLORIDA,1200120,BRADFORD,False,3214,0.053843,6.969508,2.955818,0.311139,NaN,NaN,NaN,Bradford County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,68,FLORIDA,1202012,FAU LAB SCH,False,2555,0.058603,7.632094,NaN,0.000000,NaN,NaN,NaN,Palm Beach County
69,69,FLORIDA,1202013,FSU LAB SCH,False,2405,0.057838,7.983368,11.018711,0.083160,NaN,NaN,NaN,Leon County
70,70,FLORIDA,1202014,FAMU LAB SCH,False,586,0.073379,8.020478,1.877133,0.000000,NaN,NaN,NaN,Leon County
71,71,FLORIDA,1202015,UF LAB SCH,False,1153,0.052905,14.397225,22.549870,0.000000,NaN,NaN,NaN,Alachua County
72,72,FLORIDA,1202016,DEAF/BLIND,False,545,0.168807,17.798165,NaN,0.000000,NaN,NaN,NaN,St. Johns County

In [ ]:
# Merge in income information