In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm

In [2]:
data = pd.read_csv("final_vars.csv")
data

,Unnamed: 0,LEA_STATE_NAME,LEAID,LEA_NAME,County Name,banned_books,LEA_ENR,SCH_FTETEACH_TOT,overall_TPI,SATACT_P,APENR_P,P_EXPULSIONS,TOT_DIS_HB,TOT_RAC_HB,TOT_SEX_HB,Median Household Income
0,0,TEXAS,4800001,CROSBYTON CISD,crosby,False,365,0.101370,0.740,6.849315,NaN,0.000000,0,0,0,60382.0
1,1,TEXAS,4800002,SPUR ISD,dickens,False,261,0.107280,0.865,13.026820,NaN,0.000000,0,0,0,37356.0
2,2,TEXAS,4800003,ROCKSPRINGS ISD,edwards,False,313,0.076677,0.850,5.111821,NaN,0.000000,0,0,0,41429.0
3,3,TEXAS,4800004,POR VIDA ACADEMY,bexar,False,273,0.091575,-0.570,0.000000,NaN,0.000000,0,0,0,62772.0
4,4,TEXAS,4800005,BLACKWELL CISD,mitchell,False,155,0.129032,0.855,0.000000,NaN,0.000000,0,0,0,46944.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,1211,TEXAS,4846680,YSLETA ISD,el paso,False,41198,0.066469,-0.685,1.924851,7.116850,0.014564,0,0,0,36079.0
1189,1212,TEXAS,4846710,ZAPATA COUNTY ISD,zapata,False,3521,0.062482,-0.585,2.527691,8.974723,0.000000,0,0,0,30758.0
1190,1213,TEXAS,4846740,ZAVALLA ISD,angelina,False,368,0.092391,0.750,0.000000,NaN,0.000000,0,0,0,38684.0
1191,1214,TEXAS,4846770,ZEPHYR ISD,brown,False,202,0.103960,0.875,6.930693,NaN,0.000000,0,0,0,51250.0
1192,1215,TEXAS,4899130,BENAVIDES ISD,duval,False,340,0.088235,-0.640,5.588235,NaN,0.588235,0,0,0,31395.0

In [12]:
data

,Unnamed: 0,LEA_STATE_NAME,LEAID,LEA_NAME,County Name,banned_books,LEA_ENR,SCH_FTETEACH_TOT,overall_TPI,SATACT_P,APENR_P,P_EXPULSIONS,TOT_DIS_HB,TOT_RAC_HB,TOT_SEX_HB,Median Household Income
0,0,TEXAS,4800001,CROSBYTON CISD,crosby,False,365,0.101370,0.740,6.849315,NaN,0.000000,0,0,0,60382.0
1,1,TEXAS,4800002,SPUR ISD,dickens,False,261,0.107280,0.865,13.026820,NaN,0.000000,0,0,0,37356.0
2,2,TEXAS,4800003,ROCKSPRINGS ISD,edwards,False,313,0.076677,0.850,5.111821,NaN,0.000000,0,0,0,41429.0
3,3,TEXAS,4800004,POR VIDA ACADEMY,bexar,False,273,0.091575,-0.570,0.000000,NaN,0.000000,0,0,0,62772.0
4,4,TEXAS,4800005,BLACKWELL CISD,mitchell,False,155,0.129032,0.855,0.000000,NaN,0.000000,0,0,0,46944.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,1211,TEXAS,4846680,YSLETA ISD,el paso,False,41198,0.066469,-0.685,1.924851,7.116850,0.014564,0,0,0,36079.0
1189,1212,TEXAS,4846710,ZAPATA COUNTY ISD,zapata,False,3521,0.062482,-0.585,2.527691,8.974723,0.000000,0,0,0,30758.0
1190,1213,TEXAS,4846740,ZAVALLA ISD,angelina,False,368,0.092391,0.750,0.000000,NaN,0.000000,0,0,0,38684.0
1191,1214,TEXAS,4846770,ZEPHYR ISD,brown,False,202,0.103960,0.875,6.930693,NaN,0.000000,0,0,0,51250.0
1192,1215,TEXAS,4899130,BENAVIDES ISD,duval,False,340,0.088235,-0.640,5.588235,NaN,0.588235,0,0,0,31395.0

In [26]:
# model = LogisticRegression()

logit_vars = ["LEA_ENR", "SCH_FTETEACH_TOT", "overall_TPI", "SATACT_P", "P_EXPULSIONS", "Median Household Income", "banned_books"]
cleaned_data = data[logit_vars].dropna()
X = cleaned_data[["LEA_ENR", "SCH_FTETEACH_TOT", "overall_TPI", "SATACT_P", "P_EXPULSIONS", "Median Household Income"]]
y = cleaned_data["banned_books"]

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X)


model = sm.Logit(y, X_train_scaled)

# Fit the model
result = model.fit()

# Display the summary
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.684846
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:           banned_books   No. Observations:                 1069
Model:                          Logit   Df Residuals:                     1063
Method:                           MLE   Df Model:                            5
Date:                Fri, 01 Dec 2023   Pseudo R-squ.:                  -4.986
Time:                        15:32:09   Log-Likelihood:                -732.10
converged:                       True   LL-Null:                       -122.31
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.2930      0.094      3.115      0.002       0.109       0.477
x2             0.0007      0.063      0.012      0.990      -0.122       0.123
x3             0.0106      0.066      0.160      0.873      -0.119       0.140
x4            -0.0033      0.062     -0.053      0.958      -0.125       0.118
x5            -0.0023      0.062     -0.037      0.970      -0.124       0.119
x6             0.0821      0.064      1.278      0.201      -0.044       0.208
==============================================================================