In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Get all school districts in the US 
lea = pd.read_csv("lea_characteristics.csv", sep=",")

# Get our banned books + districts
df_school_yr_1 = pd.read_csv("PEN_July_1_2021_June_30_2022.csv", sep=",")
df_school_yr_2 = pd.read_csv("PEN_July_1_2022_December_31_2022.csv", sep=",")
books = df_school_yr_1.append(df_school_yr_2)

In [4]:
# Create a new binary variable that is "book bans" and set true given our "data" df
books['district_name'] = books['District'].str.lower()
lea['district_name'] = lea['LEA_NAME'].str.lower()
books["STATE"] = books["State"].str.upper()

# Strip of common words
common_words = ["city school district", "schools", "school", "district", "public", "county", 
                "independent", "cisd", "isd", " sd", " co ", "pblc", "schs", "high", "of", 
                "community", "comm", "area", "the", "department", "consolidated", "  no",
                "r-iii", "r-vii", "r-ix", "r-iv", "r-1", "r-i", 
                "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "#", "-", "."]

for word in common_words: 
    books['district_name'] = books['district_name'].str.replace(word, " ").str.strip()
    lea['district_name'] = lea['district_name'].str.replace(word, " ").str.strip()

In [5]:
# make sure they are unique
pairs = {}
for district in pd.unique(books["district_name"]): 
    pen_names = books[books["district_name"]==district][["STATE", "District"]]
    lea_names = lea[lea["district_name"]==district][["LEA_STATE_NAME", "LEA_NAME"]]
    
    for pen_name in pd.unique(pen_names["District"]): 
        state = pen_names[pen_names["District"] == pen_name]["STATE"].values[0]
        lea_name = lea_names[lea_names["LEA_STATE_NAME"] == state]["LEA_NAME"].values
        if len(lea_name) > 0: 
            lea_name = lea_name[0]
            pairs[pen_name] = lea_name

outliers_pen_to_lea = {
    "Medford School District 549C": "Medford SD 549C", 
    "Virginia Beach City Public Schools": "VA BEACH CITY PBLC SCHS",
    "Harlem School District 122": "Harlem UD 122", 
    "Regional School Unit No. 56": "RSU 56", 
    "ROWVA CUSD 208": "R O W V A CUSD 208", 
    "Cherry Creek School District": "Cherry Creek School District No. 5 in the County of Arapaho", 
    "Raytown Quality Schools": "RAYTOWN C-2", 
    "Williston Basin School District #7": "WILLISTON 1", 
    "Lexington-Richland School District 5": "School District 5 of Lexington and Richland Counties", 
    "Madison County Schools": "MADISON CO SCHOOL DIST", 
}

matching_district_names = pairs | outliers_pen_to_lea

books['matched_name'] = [matching_district_names.get(d, None) for d in books['District']]

In [47]:
# Only keep specific rows of a df so that we can start fresh with a LEAIID
cols_to_keep = ["LEA_STATE_NAME", "LEAID", "LEA_NAME"]
lea = lea[cols_to_keep]
merged = lea.copy()
merged["banned_books"] = np.where((lea['LEA_NAME'].isin(books['matched_name'])) & (lea['LEA_STATE_NAME'].isin(books['STATE'])), True, False)
merged = merged.loc[merged["LEA_STATE_NAME"] == "TEXAS"]

      LEA_STATE_NAME    LEAID           LEA_NAME  banned_books
15027          TEXAS  4800001     CROSBYTON CISD         False
15028          TEXAS  4800002           SPUR ISD         False
15029          TEXAS  4800003    ROCKSPRINGS ISD         False
15030          TEXAS  4800004   POR VIDA ACADEMY         False
15031          TEXAS  4800005     BLACKWELL CISD         False
...              ...      ...                ...           ...
16224          TEXAS  4846680         YSLETA ISD         False
16225          TEXAS  4846710  ZAPATA COUNTY ISD         False
16226          TEXAS  4846740        ZAVALLA ISD         False
16227          TEXAS  4846770         ZEPHYR ISD         False
16228          TEXAS  4899130      BENAVIDES ISD         False

[1202 rows x 4 columns]

In [69]:
# Add enrollment to our table
enrollment = pd.read_csv("Enrollment.csv")
enrollment["Total_enrollment"] = enrollment["TOT_ENR_M"] + enrollment["TOT_ENR_F"]
cols = ["LEAID", "Total_enrollment"]
enrollment = enrollment[cols]
enrollment = enrollment.groupby('LEAID')["Total_enrollment"].sum().reset_index() # Sum enrollment across all schools in a district

# Merge with our merged df
# Cast our LEAID to a numeric or else the merge doesn't work correctly
merged['LEAID'] = pd.to_numeric(merged['LEAID'], errors='coerce')
enrollment['LEAID'] = pd.to_numeric(enrollment['LEAID'], errors='coerce')
merged = pd.merge(merged, enrollment, on='LEAID', how='left')

merged

,LEA_STATE_NAME,LEAID,LEA_NAME,banned_books,Total_enrollment
0,TEXAS,4800001,CROSBYTON CISD,False,365
1,TEXAS,4800002,SPUR ISD,False,261
2,TEXAS,4800003,ROCKSPRINGS ISD,False,313
3,TEXAS,4800004,POR VIDA ACADEMY,False,273
4,TEXAS,4800005,BLACKWELL CISD,False,158
...,...,...,...,...,...
1198,TEXAS,4846680,YSLETA ISD,False,41189
1199,TEXAS,4846710,ZAPATA COUNTY ISD,False,3521
1200,TEXAS,4846740,ZAVALLA ISD,False,368
1201,TEXAS,4846770,ZEPHYR ISD,False,202
1202,TEXAS,4899130,BENAVIDES ISD,False,340

In [73]:
# Calculate teacher to student ratio
teacher_student_ratio = pd.read_csv("School_Support.csv", encoding='latin-1')
teacher_student_ratio

In [25]:
# Instead of merging, create a binary variable where a column exists
lea["banned_books"] = np.where((lea['LEA_NAME'].isin(books['matched_name'])) & (lea['LEA_STATE_NAME'].isin(books['STATE'])), True, False)

# print(lea.loc[lea["banned_books"] == True])

In [8]:
# Now we can merge in additional dataframes of interest

'''
Dropout Count (TOTD912)
Enrollment Base (EBS912)
Dropout Rate (DRP912)
Diploma Counts (TOTDPL)
AFGR Enrollment Base Counts (AFGEB)
'''

# Need a better/more recent dataset

lea_academic_success = pd.read_csv("lea_academic_success.txt", delim_whitespace=True)
lea_academic_success.drop(columns=["SURVYEAR", "FIPST"], inplace=True)

In [9]:
# Merge our new academic success DF with our other data on LEAID
final_df = lea.merge(lea_academic_success, on='LEAID', how='left', indicator=True)

final_df.to_csv("test1.csv")

In [10]:
lea["LEA_STATE"]

0        AL
1        AL
2        AL
3        AL
4        AL
         ..
17599    WY
17600    WY
17601    WY
17602    WY
17603    PR
Name: LEA_STATE, Length: 17604, dtype: object

In [11]:
print(lea.loc[(lea["LEA_STATE"] == "TX") & (lea["banned_books"] == True)])

      LEA_STATE LEA_STATE_NAME    LEAID               LEA_NAME  \
15281        TX          TEXAS  4809860             BELTON ISD
15287        TX          TEXAS  4810230          BIRDVILLE ISD
15353        TX          TEXAS  4812780          CANUTILLO ISD
15391        TX          TEXAS  4814280        CLEAR CREEK ISD
15413        TX          TEXAS  4815000             CONROE ISD
15442        TX          TEXAS  4816110  CYPRESS-FAIRBANKS ISD
15460        TX          TEXAS  4816740             DENTON ISD
15531        TX          TEXAS  4819650          FORT BEND ISD
15537        TX          TEXAS  4819840     FREDERICKSBURG ISD
15540        TX          TEXAS  4820010             FRISCO ISD
15577        TX          TEXAS  4821390           GRANBURY ISD
15649        TX          TEXAS  4823910             HUMBLE ISD
15684        TX          TEXAS  4825170               KATY ISD
15687        TX          TEXAS  4825260             KELLER ISD
15698        TX          TEXAS  4825660            KILLEEN ISD
15701        TX          TEXAS  4825740              KLEIN ISD
15722        TX          TEXAS  4826470        LAKE TRAVIS ISD
15724        TX          TEXAS  4826580             LAMAR CISD
15734        TX          TEXAS  4827030            LEANDER ISD
15879        TX          TEXAS  4832940         NORTH EAST ISD
15956        TX          TEXAS  4836000            PROSPER ISD
15977        TX          TEXAS  4837020         RICHARDSON ISD
16081        TX          TEXAS  4841100      SPRING BRANCH ISD
16118        TX          TEXAS  4842480          TEXARKANA ISD
16144        TX          TEXAS  4843470              TYLER ISD
16168        TX          TEXAS  4844430             WALLER ISD

                    LEA_ADDRESS        LEA_CITY LEA_ZIP  CJJ  LEA_ENR  \
15281               P O BOX 269          BELTON   76513   No    11526
15287         6125 E BELKNAP ST     HALTOM CITY   76117   No    23665
15353               P O BOX 100       CANUTILLO   79835   No     6201
15391               P O BOX 799     LEAGUE CITY   77574   No    41874
15413              3205 W DAVIS          CONROE   77304  Yes    61544
15442            P O BOX 692003         HOUSTON   77269   No   116359
15460          1307 N LOCUST ST          DENTON   76201  Yes    29341
15531      16431 LEXINGTON BLVD      SUGAR LAND   77479   No    75184
15537         234 FRIENDSHIP LN  FREDERICKSBURG   78624   No     3272
15540              5515 OHIO DR          FRISCO   75035   No    58424
15577               217 N JONES        GRANBURY   76048   No     7136
15649  20200 EASTWAY VILLAGE DR          HUMBLE   77338   No    42373
15684               P O BOX 159            KATY   77492   No    77439
15687           350 KELLER PKWY          KELLER   76248   No    34924
15698               P O BOX 967         KILLEEN   76540  Yes    44273
15701    7200 SPRING CYPRESS RD           KLEIN   77379   No    52976
15722       3322 RANCH RD 620 S          AUSTIN   78738   No    10409
15724                3911 AVE I       ROSENBERG   77471  Yes    31856
15734               P O BOX 218         LEANDER   78646  Yes    39012
15879            8961 TESORO DR     SAN ANTONIO   78217   No    66068
15956              605 E 7TH ST         PROSPER   75078   No    12031
15977      400 S GREENVILLE AVE      RICHARDSON   75081   No    39004
16081           955 CAMPBELL RD         HOUSTON   77024   No    35014
16118        4241 SUMMERHILL RD       TEXARKANA   75503   No     7151
16144              P O BOX 2035           TYLER   75710   No    17991
16168            2214 WALLER ST          WALLER   77484   No     7151

       LEA_ENR_NONLEAFAC  ...  LEA_PSELIG_IDEA LEA_PSELIG_TITLEI  \
15281                 41  ...              Yes               Yes
15287                  0  ...              Yes               Yes
15353                  0  ...               -9                -9
15391                 11  ...               No                No
15413                 40  ...              Yes                No
15442                  0  ...              Yes                No
15460                 21  ...               -9                -9
15531                  0  ...               -9                -9
15537                  0  ...              Yes               Yes
15540                  0  ...              Yes                No
15577                  0  ...              Yes                No
15649                  0  ...               -9                -9
15684                  0  ...              Yes               Yes
15687                  0  ...              Yes                No
15698                  3  ...              Yes                No
15701                  0  ...              Yes               Yes
15722                  0  ...              Yes               Yes
15724                  0  ...              Yes                No
15734                  9  ...              Yes                No
15879                  0  ...              Yes               Yes
15956                  0  ...              Yes                No
15977                110  ...              Yes                No
16081                  9  ...               -9                -9
16118                  0  ...              Yes                No
16144                  3  ...               -9                -9
16168                  0  ...               No                No

      LEA_PSELIG_LOWINC LEA_KG_IND LEA_KG_FULLDAYFREE LEA_KG_FULLDAYCOST  \
15281               Yes        Yes                Yes                 No
15287               Yes        Yes                Yes                 No
15353                -9        Yes                Yes                Yes
15391               Yes        Yes                Yes                 No
15413               Yes        Yes                Yes                 No
15442               Yes        Yes                Yes                 No
15460                -9        Yes                Yes                 No
15531                -9        Yes                Yes                 No
15537               Yes        Yes                Yes                 No
15540               Yes        Yes                Yes                 No
15577               Yes        Yes                Yes                 No
15649                -9        Yes                Yes                 No
15684               Yes        Yes                Yes                 No
15687               Yes        Yes                Yes                 No
15698               Yes        Yes                Yes                 No
15701               Yes        Yes                Yes                 No
15722               Yes        Yes                Yes                 No
15724               Yes        Yes                Yes                 No
15734               Yes        Yes                Yes                 No
15879               Yes        Yes                Yes                 No
15956               Yes        Yes                Yes                 No
15977               Yes        Yes                Yes                 No
16081                -9        Yes                Yes                 No
16118               Yes        Yes                Yes                 No
16144                -9        Yes                Yes                Yes
16168               Yes        Yes                Yes                 No

      LEA_KG_PARTDAYFREE LEA_KG_PARTDAYCOST      district_name banned_books
15281                 No                 No             belton         True
15287                 No                 No          birdville         True
15353                 No                 No          canutillo         True
15391                 No                 No        clear creek         True
15413                 No                 No             conroe         True
15442                 No                 No  cypress fairbanks         True
15460                 No                 No             denton         True
15531                 No                 No          fort bend         True
15537                Yes                 No     fredericksburg         True
15540                 No                 No             frisco         True
15577                 No                 No           granbury         True
15649                 No                 No             humble         True
15684                 No                 No               katy         True
15687                 No                 No             keller         True
15698                 No                 No            killeen         True
15701                 No                 No              klein         True
15722                 No                 No        lake travis         True
15724                 No                 No              lamar         True
15734                 No                 No            leander         True
15879                 No                 No         north east         True
15956                 No                 No            prosper         True
15977                 No                 No         richardson         True
16081                 No                 No      spring branch         True
16118                 No                 No          texarkana         True
16144                 No                 No              tyler         True
16168                 No                 No             waller         True

[26 rows x 55 columns]

In [12]:
print(lea.loc[(lea["LEA_STATE"] == "TX")])

print(lea.loc[(lea["LEA_STATE"] == "TX")])

      LEA_STATE LEA_STATE_NAME    LEAID           LEA_NAME        LEA_ADDRESS  \
15027        TX          TEXAS  4800001     CROSBYTON CISD  204 S HARRISON ST
15028        TX          TEXAS  4800002           SPUR ISD        P O BOX 550
15029        TX          TEXAS  4800003    ROCKSPRINGS ISD        P O BOX 157
15030        TX          TEXAS  4800004   POR VIDA ACADEMY    1135 MISSION RD
15031        TX          TEXAS  4800005     BLACKWELL CISD        P O BOX 505
...         ...            ...      ...                ...                ...
16224        TX          TEXAS  4846680         YSLETA ISD       9600 SIMS DR
16225        TX          TEXAS  4846710  ZAPATA COUNTY ISD        P O BOX 158
16226        TX          TEXAS  4846740        ZAVALLA ISD      431 E MAIN ST
16227        TX          TEXAS  4846770         ZEPHYR ISD       11625 CR 281
16228        TX          TEXAS  4899130      BENAVIDES ISD        PO DRAWER P

          LEA_CITY LEA_ZIP CJJ  LEA_ENR  LEA_ENR_NONLEAFAC  ...  \
15027    CROSBYTON   79322  No      365                  0  ...
15028         SPUR   79370  No      261                  0  ...
15029  ROCKSPRINGS   78880  No      313                  0  ...
15030  SAN ANTONIO   78210  No      273                  0  ...
15031    BLACKWELL   79506  No      155                  0  ...
...            ...     ...  ..      ...                ...  ...
16224      EL PASO   79925  No    41198                  0  ...
16225       ZAPATA   78076  No     3521                  0  ...
16226      ZAVALLA   75980  No      368                  0  ...
16227       ZEPHYR   76890  No      202                  0  ...
16228    BENAVIDES   78341  No      340                  0  ...

       LEA_PSELIG_IDEA LEA_PSELIG_TITLEI LEA_PSELIG_LOWINC LEA_KG_IND  \
15027               -9                -9                -9        Yes
15028               -9                -9                -9        Yes
15029               -9                -9                -9        Yes
15030               -9                -9                -9         No
15031               -9                -9                -9        Yes
...                ...               ...               ...        ...
16224               -9                -9                -9        Yes
16225               -9                -9                -9        Yes
16226               -9                -9                -9        Yes
16227               -9                -9                -9        Yes
16228               -9                -9                -9        Yes

      LEA_KG_FULLDAYFREE LEA_KG_FULLDAYCOST LEA_KG_PARTDAYFREE  \
15027                Yes                 No                 No
15028                Yes                 No                 No
15029                Yes                 No                 No
15030                 -9                 -9                 -9
15031                Yes                 No                 No
...                  ...                ...                ...
16224                Yes                 No                Yes
16225                Yes                 No                 No
16226                Yes                 No                 No
16227                Yes                 No                 No
16228                Yes                 No                 No

      LEA_KG_PARTDAYCOST     district_name banned_books
15027                 No         crosbyton        False
15028                 No              spur        False
15029                 No       rocksprings        False
15030                 -9  por vida academy        False
15031                 No         blackwell        False
...                  ...               ...          ...
16224                 No            ysleta        False
16225                 No            zapata        False
16226                 No           zavalla        False
16227                 No            zephyr        False
16228                 No         benavides        False

[1202 rows x 55 columns]
      LEA_STATE LEA_STATE_NAME    LEAID           LEA_NAME        LEA_ADDRESS  \
15027        TX          TEXAS  4800001     CROSBYTON CISD  204 S HARRISON ST
15028        TX          TEXAS  4800002           SPUR ISD        P O BOX 550
15029        TX          TEXAS  4800003    ROCKSPRINGS ISD        P O BOX 157
15030        TX          TEXAS  4800004   POR VIDA ACADEMY    1135 MISSION RD
15031        TX          TEXAS  4800005     BLACKWELL CISD        P O BOX 505
...         ...            ...      ...                ...                ...
16224        TX          TEXAS  4846680         YSLETA ISD       9600 SIMS DR
16225        TX          TEXAS  4846710  ZAPATA COUNTY ISD        P O BOX 158
16226        TX          TEXAS  4846740        ZAVALLA ISD      431 E MAIN ST
16227        TX          TEXAS  4846770         ZEPHYR ISD       11625 CR 281
16228        TX          TEXAS  4899130      BENAVIDES ISD        PO DRAWER P

          LEA_CITY LEA_ZIP CJJ  LEA_ENR  LEA_ENR_NONLEAFAC  ...  \
15027    CROSBYTON   79322  No      365                  0  ...
15028         SPUR   79370  No      261                  0  ...
15029  ROCKSPRINGS   78880  No      313                  0  ...
15030  SAN ANTONIO   78210  No      273                  0  ...
15031    BLACKWELL   79506  No      155                  0  ...
...            ...     ...  ..      ...                ...  ...
16224      EL PASO   79925  No    41198                  0  ...
16225       ZAPATA   78076  No     3521                  0  ...
16226      ZAVALLA   75980  No      368                  0  ...
16227       ZEPHYR   76890  No      202                  0  ...
16228    BENAVIDES   78341  No      340                  0  ...

       LEA_PSELIG_IDEA LEA_PSELIG_TITLEI LEA_PSELIG_LOWINC LEA_KG_IND  \
15027               -9                -9                -9        Yes
15028               -9                -9                -9        Yes
15029               -9                -9                -9        Yes
15030               -9                -9                -9         No
15031               -9                -9                -9        Yes
...                ...               ...               ...        ...
16224               -9                -9                -9        Yes
16225               -9                -9                -9        Yes
16226               -9                -9                -9        Yes
16227               -9                -9                -9        Yes
16228               -9                -9                -9        Yes

      LEA_KG_FULLDAYFREE LEA_KG_FULLDAYCOST LEA_KG_PARTDAYFREE  \
15027                Yes                 No                 No
15028                Yes                 No                 No
15029                Yes                 No                 No
15030                 -9                 -9                 -9
15031                Yes                 No                 No
...                  ...                ...                ...
16224                Yes                 No                Yes
16225                Yes                 No                 No
16226                Yes                 No                 No
16227                Yes                 No                 No
16228                Yes                 No                 No

      LEA_KG_PARTDAYCOST     district_name banned_books
15027                 No         crosbyton        False
15028                 No              spur        False
15029                 No       rocksprings        False
15030                 -9  por vida academy        False
15031                 No         blackwell        False
...                  ...               ...          ...
16224                 No            ysleta        False
16225                 No            zapata        False
16226                 No           zavalla        False
16227                 No            zephyr        False
16228                 No         benavides        False

[1202 rows x 55 columns]